@font-face {
    font-family: "Zeitpunkt";
    src: url("../fonts/Zeitpunkt-Light.woff2") format('woff2');
}


@font-face {
    font-family: "Cadmea";
    src: url("../fonts/cadmea_0511_Regular.woff2") format('woff2');
}



#alisqadeer .text { font-family:"Zeitpunkt" }
#michelleghiotti .text { font-family:"Cadmea" }
