@import 'vars';


  
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
  }

  #menu {
    display:none;
  }

  #hamburger-toggle {
    background:transparent;
    border:0;
    font-size:20px;
    // padding:0 0.25em;
    cursor:pointer;
    
    

    &::after {
        content: '☰';
        position:relative;
        
    }

    .active &::after {
        
        
        top:3px;
        content: "×";
        position:relative;
        height:2px;
        // font-size:1.3em;
    }

    

  }

  #revivals_menu {
    background:rgba($red, 0.9);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    z-index:101;
    display:none;
    opacity:0;
    transition:all 0.3s;

        & p, & h3 {
        color:white;
      }

    &.active {
        display: block;;
        opacity:1
    }

    & .header {
      border-color:white;
      color:white;

  

      & a,
      & #menu_button {
        color:white;

        &:link,
        &:visited {
          color:white;
        }
        &:hover {
          color:black;
        }
      }
    }

  }
